* {
  --hex-height: 5rem;
  --hex-background: lightgrey;
  --hex-border: calc(var(--hex-height)/4) solid var(--hex-background);
  --hex-border-invis: calc(var(--hex-height)/2) solid transparent;
}

.stats {
  display: flex;
  justify-content: space-around;
}
.stat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
.stat .stat-description,
.stat .stat-description-tooltip {
  display: block;
  margin-top: .5rem;
  text-align: center;
  font-size: .8rem;
}
.stat .stat-description-tooltip {
  position: absolute;
  transform: translateX(-25%);
  padding: .5rem;
  border-radius: 2px;
  background: lightgrey;
}
.stat .stat-description-tooltip[aria-hidden="true"] {
  visibility: hidden;
}
.stat .stat-description button {
  background: none;
  border: none;
  cursor: pointer;
  background: lightgrey;
  border-radius: 1rem;
}

.hex {
  display: flex;
  height: var(--hex-height);
}

.hex-center {
  display: flex;
  flex-direction: column;
  min-width: calc(var(--hex-height)*.75);
  height: var(--hex-height);
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--hex-background);
}
.hex-center span {
  font-size: 2rem;
  font-weight: bold;
  font-family: Georgia;
}

.hex-side {
  width: 0;
  border-top: var(--hex-border-invis);
  border-bottom: var(--hex-border-invis);
}
.hex-left {
  border-right: var(--hex-border);
}
.hex-right {
  border-left: var(--hex-border);
}

main.game header h1 {
  text-align: center;
}
main.game .game-details {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 5rem auto;
}
main.game .game-details .detail {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main.game .game-details .detail .detail-name {
  font-size: .8rem;
}
main.game .game-details .detail .detail-content {
  font-weight: bold;
}
main.game .game-details .detail .detail-name,
main.game .game-details .detail .detail-content {
}

.review.card {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: 0;
}
.review.card .card-header,
.review.card .card-content,
.review.card .card-after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}
.review.card .card-header {
  width: 15rem;
}
.review.card .card-content {
  flex-grow: 1;
}
.review.card .card-after {
  width: 4rem;
  text-align: center;
  background: var(--font);
  color: white;
}
.review.card .card-after span:first-child {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Georgia;
}
.review.card .card-after span:last-child {
  font-size: .8rem;
}

.review.card .card-title {
  margin: 0;
}
.review.card a.review-link {
  color: #3b95b3;
}
