:root {
  --serif-font: Palatino, Georgia, Times, serif;
  --sans-font: Roboto, sans-serif;
  --main-width: 800px;
  --main-margin-vertical: 5rem;
  --main-padding-horizontal: auto;
  --background: #f7f7f7;
  --line-height: 1.5rem;
  --brand-color: lightcoral;
  --nav-font-color: white;
  --card-bg: white;
  --font-color: var(--kinda-black);
  --kinda-black: #191919;
  --score-flat-color: mediumpurple;
  --score-fine-color: lightblue;
  --score-good-color: lightgreen;
  --score-best-color: lightcoral;
  --color-good: lightgreen;
  --color-bad: lightcoral;
  --divider: rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  font-family: var(--serif-font);
}

body {
  background-color: var(--background);
  margin: 0;
}

html, body, h1, h2, h3, h4, h5, h6, p {
  color: var(--font-color);
}

h1 { font-size: 2rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.2rem; }

.p,
p {
  font-size: 1.05rem;
  line-height: var(--line-height);
  margin: 1.05rem 0;
}

hr {
  margin: 2rem 0;
  border: 1px solid lightgrey;
}

details summary {
  cursor: pointer;
}

footer {
  width: 100%;
  height: 240px;
  padding: 2rem 0;
  background-color: var(--kinda-black);
}
footer span {
  color: white;
}
footer .about {
  display: flex;
  flex-direction: column;
  width: 240px;
}
footer .about img {
  height: 40px;
}
footer .about span {
  margin-top: 2rem;
}

/* Main content */

main {
  width: var(--main-width);
  margin: var(--main-margin-vertical) auto;
  padding: 0 var(--main-padding-horizontal);
}

main li {
  margin: .3rem 0;
  line-height: var(--line-height);
}

/* Nav */

#desktop-menu {
  width: 100%;
  margin-left: 2rem;
}
#mobile-menu {
  display: none;
}

.top-nav {
  width: 100%;
  background-color: var(--kinda-black);
  border-bottom: 3px solid var(--divider);
}

.top-nav .nav-inner {
  display: flex;
  height: 4rem;
  line-height: 4rem;
  padding: 0 var(--main-padding-horizontal);
}

.top-nav a.site-title {
  height: 50px;
  margin-top: 8px;
  /*  font-family: Georgia, serif;*/
  /*  font-size: 2rem;*/
  /*  font-weight: bold;*/
  /*  text-decoration: none;*/
  /*  color: var(--nav-font-color);*/
}
.top-nav a.site-title img {
  height: 50px;
}

/* Nav menu */

.top-nav nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav nav ul li {
  display: inline-block;
  margin: 0 .5rem;
}
.top-nav nav ul li:last-child {
  margin-right: 0;
}

.top-nav nav ul li a {
  display: block;
  font-family: var(--sans-font);
  text-decoration: none;
  color: var(--nav-font-color);
}
.top-nav nav ul li a:hover {
  text-decoration: underline;
}

#desktop-menu nav {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

#desktop-menu .top-nav-search-input {
  padding: .5rem 0;
  background: none;
  border: none;
  border-radius: 0;
  color: white;
  border-bottom: 1px solid white;
}

/* Form */

label {
  display: block;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bold;
  font-family: var(--sans-font);
}
input[type=radio] + label {
  display: inline;
  margin-left: .5rem;
  font-size: 1rem;
  text-transform: none;
  font-weight: normal;
}

select,
input[type=text],
input[type=number],
input[type=password],
textarea {
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  font-size: .9rem;
  font-family: var(--sans-font);
  background: lightgrey;
  border: none;
  border-radius: 5px;
}

textarea {
  height: auto;
  padding: 1rem;
}

input[type=submit] {
  cursor: pointer;
  height: 50px;
}
.pagination span {
  display: inline-block;
}
.pagination input[type=submit] {
  font-size: 1rem;
  text-decoration: underline;
  border: none;
  background: none;
}

*[disabled] {
  cursor: not-allowed;
}

button {
  padding: .7rem 1.4rem;
  font-size: 1rem;
  font-family: var(--sans-font);
  color: white;
  background: dimgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type=submit] {
  width: 100%;
}
button.primary {
  background: rebeccapurple;
}

/* Card */

.card {
  min-height: 4rem;
  background-color: var(--card-bg);
  border-bottom: 3px solid var(--divider);
  padding: 1rem;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
  margin: 0;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Card list */

ul.card-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Card list compact */

.card.compact {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: 0;
}
.card.compact .card-header,
.card.compact .card-content,
.card.compact .card-after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}
.card.compact .card-header {
  min-width: 15rem;
}
.card.compact .card-content {
  flex-grow: 1;
}
.card.compact .card-after {
  flex-shrink: 0;
  width: 4rem;
  padding: 0;
  text-align: center;
}
.card.compact .card-after span {
  font-family: var(--sans-font);
  font-weight: bold;
  color: white;
}
.card.compact .card-after.score-flat { border-right: .5rem solid var(--score-flat-color); }
.card.compact .card-after.score-fine { border-right: .5rem solid var(--score-fine-color); }
.card.compact .card-after.score-good { border-right: .5rem solid var(--score-good-color); }
.card.compact .card-after.score-best { border-right: .5rem solid var(--score-best-color); }

/* Hexagon */

.hex {
  display: flex;
  height: var(--hex-height);
}
.hex-inline {
  display: inline-flex;
}

.hex-center {
  display: flex;
  flex-direction: column;
  /* Should be min-width, perhaps, but elongated hexes are ugly */
  width: calc(var(--hex-height)*.75);
  height: var(--hex-height);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  background: var(--hex-background);
}
.hex-center span {
  margin-bottom: -5px; /* To account for the accentColor (border-bottom) */
  font-size: calc(var(--hex-height) / 3);
  font-family: var(--sans-font);
}

.hex-side {
  width: 0;
  border-top: var(--hex-border-invis);
  border-bottom: var(--hex-border-invis);
}
.hex-left { border-right: var(--hex-border); }
.hex-right { border-left: var(--hex-border); }

/* Game page details */

.game-details .detail {
  position: relative;
  display: flex;
  flex-direction: column;
}
.game-details .detail .detail-name {
  font-size: .8rem;
  font-weight: bold;
}

/* Game page stats */

.stats {
  position: relative;
}
.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stat details summary {
  text-align: center;
  list-style: none;
}
.stat details[open] summary::before {
  content: '\002716';
}
.stat details div {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  width: var(--main-width);
  margin: auto;
  padding: 1rem;
  border-radius: 2px;
}

/* Game page media */

main#game .media .no-images {
  display: flex;
  justify-content: space-between;
}

main#game .media .no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  background: var(--card-bg);
  flex-shrink: 0;
}

/* Game page reviews */

main#game .review-content details,
main#game .review-content details p,
main#game .review-content details summary {
  overflow: hidden;
  word-break: break-word;
}
main#game .review-content details p {
  margin-top: 2px;
}
main#game .review-content details {
  height: 100px;
}
main#game .review-content details[open] {
  height: auto;
  min-height: 100px;
}
main#game .review-content details[open] summary {
  color: white;
  height: var(--line-height);
}
main#game .review-content details[open] summary::before {
  content: '\0025be  Read less';
  margin-left: -10px;
  color: var(--font-color);
}

/* Errors */

#errors {
  width: 100%;
  padding: 1rem;
}

/* Generic */

.page-width {
  width: var(--main-width);
  margin: 0 auto;
}

.no-deco {
  text-decoration: none;
  color: inherit;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}
.row-1 { grid-template-rows: repeat(1, 1fr); }
.row-2 { grid-template-rows: repeat(2, 1fr); }
.row-3 { grid-template-rows: repeat(3, 1fr); }
.row-4 { grid-template-rows: repeat(4, 1fr); }
.row-5 { grid-template-rows: repeat(5, 1fr); }
.col-1 { grid-template-columns: repeat(1, 1fr); }
.col-2 { grid-template-columns: repeat(2, 1fr); }
.col-3 { grid-template-columns: repeat(3, 1fr); }
.col-4 { grid-template-columns: repeat(4, 1fr); }
.col-5 { grid-template-columns: repeat(5, 1fr); }
.col-auto-2fr { grid-template-columns: auto 2fr; }
.col-start-1 { grid-column-start: 1; }
.col-start-2 { grid-column-start: 2; }
.col-start-3 { grid-column-start: 3; }
.col-start-4 { grid-column-start: 4; }
.col-end-1 { grid-column-end: 1; }
.col-end-2 { grid-column-end: 2; }
.col-end-3 { grid-column-end: 3; }
.col-end-4 { grid-column-end: 4; }
.col-span2 { grid-column: 1 / span 2; }
.col-span3 { grid-column: 1 / span 3; }
.grid-gap-2 { grid-gap: 2rem; }

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}

.margin-top { margin-top: 1rem; }
.margin-top-big { margin-top: 2rem; }
.margin-top-xl { margin-top: 6rem; }
.margin-left { margin-left: 1rem; }
.margin-left-big { margin-left: 2rem; }
.no-margin { margin: 0; }

.bg-none { background: none; }
.bg-dark { background: var(--kinda-black); }
.bg-good { background: var(--color-good); }
.bg-bad { background: var(--color-bad); }

.text-left { text-align: left; }
.text-center { text-align: center; }

.italic { font-style: italic; }

/* This is a hack that prevents grid items from overflowing when they contain text with "white-space: nowrap" */
.min-width-0 {
  min-width: 0;
}

/* Responsiveness */

@media only screen and (max-width: 1100px) {
  :root {
    --main-width: 100%;
    --main-padding-horizontal: 2rem;
  }

  /* Nav */
  #desktop-menu {
    display: none;
  }
  #mobile-menu {
    display: block;
    width: 100%;
  }
  #mobile-menu summary {
    text-align: right;
    color: var(--nav-font-color);
  }
  header.top-nav nav {
    position: absolute;
    display: block;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    left: 0;
    z-index: 2;
    background: white;
  }
  header.top-nav nav ul li {
    background: var(--kinda-black);
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    margin: 0;
    padding: 0 1rem;
    border-radius: 0.2rem;
  }
}

@media only screen and (max-width: 700px) {
  :root {
    --main-margin-vertical: 1rem;
    --main-padding-horizontal: 1rem;
  }

  .card.compact .card-header {
    min-width: 10rem;
  }

  footer {
    padding: 2rem;
  }

  main#game .details-and-stats {
    grid-template-columns: auto;
    text-align: center;
  }
  main#game .media .no-images {
    overflow-x: scroll;
  }
  main#game .media .no-image {
    margin-right: 1rem;
  }
  main#game .media .no-image:last-child {
    margin-right: 0;
  }

  /* Admin pages */
  main#raw-reviews .card.compact {
    flex-direction: column;
    height: auto;
  }
  main#raw-reviews .card-header {
    padding-top: 1rem;
    flex-direction: row;
    gap: 1rem;
  }
  main#raw-reviews .card-content {
    padding: 0 1rem;
  }
  main#raw-reviews .card-after {
    width: 100%;
  }

  /* Generic */
  .mob-grid {
    display: grid;
    grid-gap: 1rem;
  }
  .mob-row-1 { grid-template-rows: repeat(1, 1fr); }
  .mob-row-2 { grid-template-rows: repeat(2, 1fr); }
  .mob-row-3 { grid-template-rows: repeat(3, 1fr); }
  .mob-row-4 { grid-template-rows: repeat(4, 1fr); }
  .mob-row-5 { grid-template-rows: repeat(5, 1fr); }
  .mob-col-1 { grid-template-columns: repeat(1, 1fr); }
  .mob-col-2 { grid-template-columns: repeat(2, 1fr); }
  .mob-col-3 { grid-template-columns: repeat(3, 1fr); }
  .mob-col-4 { grid-template-columns: repeat(4, 1fr); }
  .mob-col-5 { grid-template-columns: repeat(5, 1fr); }
  .mob-col-span2 { grid-column: 1 / span 2; }
  .mob-col-span3 { grid-column: 1 / span 3; }
}
