:root {
  --serif-font: Palatino, Georgia, Times, serif;
  --sans-font: Roboto, sans-serif;
  --main-width: 800px;
  --main-margin-vertical: 5rem;
  --main-padding-horizontal: auto;
  --background: #f7f7f7;
  --line-height: 1.5rem;
  --brand-color: lightcoral;
  --nav-font-color: white;
  --card-bg: white;
  --font-color: var(--kinda-black);
  --kinda-black: #191919;
  --score-flat-color: var(--brand-color);
  --score-fine-color: salmon;
  --score-good-color: lightsalmon;
  --score-best-color: #937dc2;
  --color-good: lightgreen;
  --color-bad: lightcoral;
  --divider: rgba(0, 0, 0, 0.1);
  --hex-height: 5rem;
  --hex-background: lightgrey;
  --hex-border: calc(var(--hex-height)/4) solid var(--hex-background);
  --hex-border-invis: calc(var(--hex-height)/2) solid transparent;
}

* {
  box-sizing: border-box;
  font-family: var(--serif-font);
}

body {
  background-color: var(--background);
  margin: 0;
}

html, body, h1, h2, h3, h4, h5, h6, p {
  color: var(--font-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.2rem; }

.p,
p {
  font-size: 1.05rem;
  line-height: var(--line-height);
  margin: 1.05rem 0;
}

hr {
  margin: 2rem 0;
  border: 1px solid lightgrey;
}

details summary {
  cursor: pointer;
}

article {
  margin-bottom: 3rem;
}

footer {
  width: 100%;
  height: 240px;
  padding: 2rem 0;
  background-color: var(--kinda-black);
  border-top: 3px solid var(--divider);
}
footer span {
  color: white;
}
footer .about {
  display: flex;
  flex-direction: column;
  width: 240px;
}
footer .about img {
  height: 40px;
}
footer .about span {
  margin-top: 2rem;
}

/* Main content */

main {
  width: var(--main-width);
  margin: var(--main-margin-vertical) auto;
  padding: 0 var(--main-padding-horizontal);
}

main li {
  margin: .3rem 0;
  line-height: var(--line-height);
}

/* Nav */

#mobile-menu {
  display: none;
}

header.top-nav {
  width: 100%;
  background-color: var(--kinda-black);
  border-bottom: 3px solid var(--divider);
}

header.top-nav .nav-inner {
  display: flex;
  width: var(--main-width);
  height: 4rem;
  line-height: 4rem;
  margin: 0 auto;
  padding: 0 var(--main-padding-horizontal);
}

header.top-nav a.site-title {
  height: 50px;
  margin-top: 8px;
  /*  font-family: Georgia, serif;*/
  /*  font-size: 2rem;*/
  /*  font-weight: bold;*/
  /*  text-decoration: none;*/
  /*  color: var(--nav-font-color);*/
}
header.top-nav a.site-title img {
  height: 50px;
}

header.top-nav nav {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

/* Nav menu */

header.top-nav nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header.top-nav nav ul li {
  display: inline-block;
  margin: 0 .5rem;
}
header.top-nav nav ul li:last-child {
  margin-right: 0;
}

header.top-nav nav ul li a {
  display: block;
  font-family: var(--sans-font);
  text-decoration: none;
  color: var(--nav-font-color);
}
header.top-nav nav ul li a:hover {
  text-decoration: underline;
}

/* Form */

label {
  display: block;
  /* margin-bottom: .8rem; */
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bold;
  font-family: var(--sans-font);
}
input[type=radio] + label {
  display: inline;
  margin-left: .5rem;
  font-size: 1rem;
  text-transform: none;
  font-weight: normal;
}

select,
input[type=text],
input[type=number],
input[type=password],
textarea {
  width: 100%;
  padding: 1rem;
  font-size: .9rem;
  font-family: var(--sans-font);
  background: lightgrey;
  border: none;
  border-radius: 5px;
}

*[disabled] {
  cursor: not-allowed;
}

button {
  padding: .7rem 1.4rem;
  font-size: 1rem;
  font-family: var(--sans-font);
  color: white;
  background: dimgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type=submit] {
  width: 100%;
}
button.primary {
  background: rebeccapurple;
}

/* Card */

.card {
  min-height: 4rem;
  background-color: var(--card-bg);
  border-bottom: 3px solid var(--divider);
  padding: 1rem;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
  height: 1.5rem;
  margin: 0;
  font-weight: bold;
  overflow: hidden;
  word-break: break-word;
}

/* Card grid */

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* Card list */

ul.card-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Card list compact */

.card.compact {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: 0;
}
.card.compact .card-header,
.card.compact .card-content,
.card.compact .card-after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}
.card.compact .card-header {
  min-width: 15rem;
}
.card.compact .card-content {
  flex-grow: 1;
}
.card.compact .card-after {
  flex-shrink: 0;
  width: 4rem;
  padding: 0;
  text-align: center;
}
.card.compact .card-after span {
  font-family: var(--sans-font);
  font-weight: bold;
  color: white;
}
.card.compact .card-after.score-flat {
  border-right: .5rem solid var(--score-flat-color);
}
.card.compact .card-after.score-fine {
  border-right: .5rem solid var(--score-fine-color);
}
.card.compact .card-after.score-good {
  border-right: .5rem solid var(--score-good-color);
}
.card.compact .card-after.score-best {
  border-right: .5rem solid var(--score-best-color);
}

/* Hexagon */

.hex {
  display: flex;
  height: var(--hex-height);
}

.hex-center {
  display: flex;
  flex-direction: column;
  /* Should be min-width, perhaps, but elongated hexes are ugly */
  width: calc(var(--hex-height)*.75);
  height: var(--hex-height);
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--hex-background);
}
.hex-center span {
  font-size: 2rem;
  font-family: var(--sans-font);
}

.hex-side {
  width: 0;
  border-top: var(--hex-border-invis);
  border-bottom: var(--hex-border-invis);
}
.hex-left {
  border-right: var(--hex-border);
}
.hex-right {
  border-left: var(--hex-border);
}

/* Game page details */

main#game header h1 {
  text-align: center;
}
main#game .game-details {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 2rem auto 2rem auto;
}
main#game .game-details .detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 33%;
}
main#game .game-details .detail .detail-name {
  font-size: .8rem;
}
main#game .game-details .detail .detail-content {
  font-weight: bold;
}

/* Game page stats */

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.stat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
.stat details summary {
  margin-top: .5rem;
  text-align: center;
}
.stat details p {
  /* position: absolute;
  z-index: 5;
  transform: translateX(-25%); */
  padding: 1rem;
  border-radius: 2px;
  background: lightgrey;
}

/* Game page media */

main#game .media .no-images {
  display: flex;
  justify-content: space-between;
}

main#game .media .no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  background: var(--card-bg);
  flex-shrink: 0;
}

/* Game page reviews */

main#game .review-content details,
main#game .review-content details p,
main#game .review-content details summary {
  overflow: hidden;
  word-break: break-word;
}
main#game .review-content details p {
  margin-top: 2px;
}
main#game .review-content details {
  height: 100px;
}
main#game .review-content details[open] {
  height: auto;
  min-height: 100px;
}
main#game .review-content details[open] summary {
  color: white;
  height: var(--line-height);
}
main#game .review-content details[open] summary::before {
  content: '\0025be  Read less';
  margin-left: -10px;
  color: var(--font-color);
}

/* Home */

section#topical {
  display: grid;
  grid-template-areas: "article article";
  grid-gap: 2rem;
}

/* Errors */

#errors {
  width: 100%;
  padding: 1rem;
}

/* Generic */

.page-width {
  width: var(--main-width);
  margin: 0 auto;
}

.no-deco {
  text-decoration: none;
  color: inherit;
}

.grid {
  display: grid;
  grid-gap: 1rem;
}
.grid.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.margin-top {
  margin-top: 1rem;
}
.margin-top-big {
  margin-top: 2rem;
}

.bg-none {
  background: none;
}
.bg-dark {
  background: var(--kinda-black);
}
.bg-good {
  background: var(--color-good);
}
.bg-bad {
  background: var(--color-bad);
}

/* Responsiveness */

@media only screen and (max-width: 1100px) {
  :root {
    --main-width: 100%;
  }

  main#game .game-details {
    width: auto;
  }
}

@media only screen and (max-width: 520px) {
  :root {
    --main-margin-vertical: 1rem;
    --main-padding-horizontal: 1rem;
  }

  /* Nav */
  #desktop-menu {
    display: none;
  }
  #mobile-menu {
    display: block;
    width: 100%;
  }
  #mobile-menu summary {
    text-align: right;
    color: var(--nav-font-color);
  }
  header.top-nav nav {
    position: absolute;
    display: block;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    left: 0;
    z-index: 2;
    background: white;
  }
  header.top-nav nav ul li {
    background: var(--kinda-black);
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    margin: 0;
    padding: 0 1rem;
    border-radius: 0.2rem;
  }

  /* Card */
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .card.compact .card-header {
    min-width: 10rem;
  }

  /* Generic */
  section#topical {
    display: inherit;
  }

  footer {
    padding: 2rem;
  }

  /* Game reviews page */
  main#game .stats {
    margin-bottom: 2rem;
  }
  main#game .media .no-images {
    overflow-x: scroll;
  }
  main#game .media .no-image {
    margin-right: 1rem;
  }
  main#game .media .no-image:last-child {
    margin-right: 0;
  }

  /* Raw reviews page */
  main#raw-reviews .review-content p {
    display: none;
  }
}
