* {
  box-sizing: border-box;
  font-family: Palatino, Georgia, Times, serif;
  --main-width: 800px;
  --main-margin-vertical: 5rem;
  --main-padding-horizontal: auto;
  --background: #f3f3f3;
  --line-height: 1.5rem;
  --nav: #f7f7f7;
  --card: #f7f7f7;
  --font: #191919;
  --divider: rgba(0, 0, 0, 0.1);
  --hex-height: 5rem;
  --hex-background: lightgrey;
  --hex-border: calc(var(--hex-height)/4) solid var(--hex-background);
  --hex-border-invis: calc(var(--hex-height)/2) solid transparent;
}

body {
  background-color: var(--background);
  margin: 0;
}

html, body, h1, h2, h3, h4, h5, h6, p {
  color: var(--font);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.2rem; }

p {
  font-size: 1.05rem;
  line-height: var(--line-height);
}

hr {
  margin: 2rem 0;
  border: 1px solid lightgrey;
}

details summary {
  cursor: pointer;
}

article {
  margin-bottom: 3rem;
}

/* main content */

main {
  width: var(--main-width);
  margin: var(--main-margin-vertical) auto;
  padding: 0 var(--main-padding-horizontal);
}

main li {
  margin: .3rem 0;
  line-height: var(--line-height);
}

/* nav */

.nav-container {
  width: 100%;
  background-color: var(--nav);
  border-bottom: 3px solid var(--divider);
}

nav {
  display: flex;
  width: var(--main-width);
  height: 4rem;
  line-height: 4rem;
  margin: 0 auto;
  padding: 0 var(--main-padding-horizontal);
}

nav a.site-title {
  font-family: Georgia, serif;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--font);
}

nav div {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

/* nav menu */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 .5rem;
}
nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--font);
}
nav ul li a:hover {
  text-decoration: underline;
}

/* form */

label {
  display: block;
  /* margin-bottom: .8rem; */
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bold;
  font-family: 'Open Sans';
}
input[type="radio"] + label {
  display: inline;
  margin-left: .5rem;
  font-size: 1rem;
  text-transform: none;
  font-weight: normal;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 1rem;
  font-size: .9rem;
  font-family: 'Open Sans';
  background: lightgrey;
  border: none;
  border-radius: 5px;
}

*[disabled] {
  cursor: not-allowed;
}

button {
  padding: .7rem 1.4rem;
  font-size: 1rem;
  font-family: 'Open Sans';
  color: white;
  background: dimgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type="submit"] {
  width: 100%;
}
button.primary {
  background: rebeccapurple;
}

/* card */

.card {
  min-height: 4rem;
  background-color: var(--card);
  border-bottom: 3px solid var(--divider);
  padding: 1rem;
}

.card-header h1,
.card-header h2,
.card-header h3,
.card-header h4,
.card-header h5,
.card-header h6 {
  margin: 0;
}

/* card grid */

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/* card list */

ul.card-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* card list compact */

.card.compact {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  padding: 0;
}
.card.compact .card-header,
.card.compact .card-content,
.card.compact .card-after {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}
.card.compact .card-header {
  min-width: 15rem;
}
.card.compact .card-content {
  flex-grow: 1;
}
.card.compact .card-after {
  width: 4rem;
  text-align: center;
  background: var(--font);
  color: white;
}

/* hexagon */

.hex {
  display: flex;
  height: var(--hex-height);
}

.hex-center {
  display: flex;
  flex-direction: column;
  min-width: calc(var(--hex-height)*.75);
  height: var(--hex-height);
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--hex-background);
}
.hex-center span {
  font-size: 2rem;
  font-weight: bold;
  font-family: Georgia;
}

.hex-side {
  width: 0;
  border-top: var(--hex-border-invis);
  border-bottom: var(--hex-border-invis);
}
.hex-left {
  border-right: var(--hex-border);
}
.hex-right {
  border-left: var(--hex-border);
}

/* game-page details */

main.game header h1 {
  text-align: center;
}
main.game .game-details {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 2rem auto 2rem auto;
}
main.game .game-details .detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 33%;
}
main.game .game-details .detail .detail-name {
  font-size: .8rem;
}
main.game .game-details .detail .detail-content {
  font-weight: bold;
}

/* game-page stats */

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.stat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
.stat details summary {
  margin-top: .5rem;
  text-align: center;
}
.stat details p {
  /* position: absolute;
  z-index: 5;
  transform: translateX(-25%); */
  padding: 1rem;
  border-radius: 2px;
  background: lightgrey;
}

/* responsiveness */

@media only screen and (max-width: 1100px) {
  * {
    --main-width: 100%;
    --main-padding-horizontal: 2rem;
  }
}

@media only screen and (max-width: 520px) {
  nav {
    flex-direction: column;
    height: 8rem;
  }

  nav a.site-title {
    margin: 0 auto;
  }

  nav div {
    justify-content: space-around;
  }

  /* nav ul li {
    height: 2rem;
    line-height: 2rem;
    padding: 0 0.8rem;
    background-color: #efefef;
    border-radius: 0.2rem;
  } */
}
