{#include base}
{#main}
{#include single}
  {#title}Browse Games{/title}
  {#content}
    <form action="/browse" method="get">
      <section class="grid col-5 mob-col-2 mob-row-2 card">
        <div>
          <label for="year">Year</label>
          <select name="year" id="year">
            <option value="">All years</option>
            {#for year in years}
              <option value="{year}" {#if filters.year == year}selected{/if}>{year}</option>
            {/for}
          </select>
        </div>
        <div>
          <label for="designer">Designer</label>
          <select name="designer" id="designer">
            <option value="">All designers</option>
            {#for designer in designers}
              <option value="{designer}" {#if filters.designer == designer}selected{/if}>{designer}</option>
            {/for}
          </select>
        </div>
        <div>
          <label for="publisher">Publisher</label>
          <select name="publisher" id="publisher">
            <option value="">All publishers</option>
            {#for publisher in publishers}
              <option value="{publisher}" {#if filters.publisher == publisher}selected{/if}>{publisher}</option>
            {/for}
          </select>
        </div>
        <div>
          <label for="sort">Sort</label>
          <select name="sort" id="sort">
            {#for sort in sorts}
              <option value="{sort}" {#if filters.sort == sort}selected{/if}>{sort.uppercaseFirst}</option>
            {/for}
          </select>
        </div>
        <div class="mob-col-s2" style="display: flex">
          <button type="submit" style="align-self: end">&#10983; Filter</button>
        </div>
      </section>

      {#include pagination pageable=pageable /}
    </form>

    {#include GameResource/list}{/include}
  {/content}
{/include}
{/main}
{/include}
