{#include base}
{#main}
<main id="game">
  <article>

    <header>
      {#if global:username}
        <a href="/game/{game.id}/edit">&#9998; Edit</a>
      {/if}

      <div class="details-and-stats grid col-auto-2fr grid-gap-2">
        {!Stats!}
        <div class="stats grid col-2 margin-top-big">
          <div class="stat score-median">
              {#include hex hexContent=score:emptyOr(game.median) accentColor=score:color(game.median) /}
            <span class="margin-top">Score</span>
            <details>
              <summary>&#9432;</summary>
              <div class="card"><p class="no-margin">
                  Median of all critic scores. Median is the 'middle' or 'typical' score.
                  All scores are normalized to a 100-based point system beforehand. Only reviews with scores are taken into
                  account.</p></div>
            </details>
          </div>
          <div class="stat recommended">
              {#include hex hexContent=str:format("%s%s", score:emptyOr(game.recommended), "%") accentColor=score:color(game.recommended) /}
            <span class="margin-top">Recommends</span>
            <details>
              <summary>&#9432;</summary>
              <div class="card"><p class="no-margin">
                  Percentage of critics that recommends the game. If a review does not specify a 'recommended' status, then
                  the outlet's median score (at that moment in time) is used to determine whether the game is recommended or
                  not.</p></div>
            </details>
          </div>
        </div>

        {!Title, description, details!}
        <div>
          <h1>{game.name or 'Untitled game'}</h1>

          {#if game.shortDescription}
            <p class="short-description">{game.shortDescription}</p>
          {/if}

          <div class="game-details grid row-1 col-3">
            <div class="detail release-date">
              <span class="detail-name">Release date</span>
              <span class="detail-content">{game.releaseDate ? time:format(game.releaseDate, 'd MMM uuuu') : 'No release date'}</span>
            </div>
            <div class="detail designer">
              <span class="detail-name">Designer</span>
              <span class="detail-content">{game.designer ?: 'Unknown designer'}</span>
            </div>
            <div class="detail publisher">
              <span class="detail-name">Publisher</span>
              <span class="detail-content">{game.publisher ?: 'Unknown publisher'}</span>
            </div>
          </div>
        </div>

      </div>

      {!{#if game.description}!}
        {!<div class="margin-top card">!}
        {!<details>!}
          {!<summary>Read full description</summary>!}
          {!<p>{game.description.replaceAll('\n', '</p><p>').raw}</p>!}
        {!</details>!}
        {!</div>!}
      {!{/if}!}

      <div class="media margin-top-xl">
        <h2 class="h3">Media</h2>
        {#if game.image}
          <img src="{game.image}" alt="Cover image of {game.name}" class="margin-top" height="40" />
        {#else}
          <div class="no-images margin-top">
            <div class="no-image cover-image">No cover image</div>
            <div class="no-image">No images</div>
            <div class="no-image">No images</div>
            <div class="no-image">No images</div>
          </div>
        {/if}
      </div>
    </header>

    <div class="content">
      <div class="reviews">
        <h2 class="h3">Critic Reviews</h2>
        <div class="grid col-2 mob-col-1">
          {#for review in game.reviews}
            {#include review
              outlet=review.outlet.name
              critic=review.critic.name
              score=review.score
              recommended=review.recommended
              summary=review.summary
              url=review.url}{/include}
          {/for}
        </div>
      </div>
    </div>

  </article>
</main>
{/main}
{/include}
