{#include base}
{#main}
<main id="game">
  <article>

    <header>
      <h1>{game.name or 'Untitled game'}</h1>

      <div class="game-details">
        <div class="detail">
          <span class="detail-name">Release date</span>
          <span class="detail-content date">{game.releaseDate ? time:format(game.releaseDate, 'd MMM uuuu') : 'No release date'}</span>
        </div>
        <div class="detail">
          <span class="detail-name">Designer</span>
          <span class="detail-content designer">{game.designer ?: 'Unknown designer'}</span>
        </div>
        <div class="detail">
          <span class="detail-name">Short description</span>
          <span class="detail-content short-description">{game.shortDescription ?: 'No description'}</span>
        </div>
        <!--        <div class="detail">-->
        <!--          <span class="detail-name">Full description</span>-->
        <!--          <div class="description">{!game.description!}</div>-->
        <!--        </div>-->
      </div>

      <div class="stats">
        <div class="stat score-average">
          {#include hex hexContent=game.average /}
          <details>
            <summary>Average score</summary>
            <p>Average of all critic scores. All scores are normalized to a 100-based point system before averaging.
              Only reviews with scores are taken into account.</p>
          </details>
        </div>
        <div class="stat score-median">
          {#include hex hexContent=game.median /}
          <details>
            <summary>Median score</summary>
            <p>
              Median of all critic scores. Median is the 'middle' or 'typical' score.
              All scores are normalized to a 100-based point system beforehand. Only reviews with scores are taken into
              account.</p>
          </details>
        </div>
        <div class="stat recommended">
          {#include hex hexContent=game.recommended hexContentAfter="%" /}
          <details>
            <summary>Recommends</summary>
            <p>
              Percentage of critics that recommends the game. If a review does not specify a 'recommended' status, then
              the outlet's median score (at that moment in time) is used to determine whether the game is recommended or
              not.</p>
          </details>
        </div>
      </div>

      <div class="media">
        <h3>Media</h3>
        {#if game.image}
          <img src="{game.image}" alt="Cover image of {game.name}"/>
        {#else}
          <div class="no-images">
            <div class="no-image cover-image">No cover image</div>
            <div class="no-image">No images</div>
            <div class="no-image">No images</div>
            <div class="no-image">No images</div>
          </div>
        {/if}
      </div>
    </header>

    <div class="content">
      <div class="reviews">
        <h3>Critic Reviews</h3>
        <div class="card-grid">
          {#for review in game.reviews}
            {#include review
              outlet=review.outlet.name
              critic=review.critic.name
              score=review.score
              recommended=review.recommended
              summary=review.summary
              url=review.url}{/include}
          {/for}
        </div>
      </div>
    </div>

  </article>
</main>
{/main}
{/include}
