<ul class="card-list">
    {#for game in games}
    <li>
        <a href="/game/{game.slug}" class="game-link no-deco" title="Read reviews for '{game.name}'">
            <div class="game card compact">
                <div class="card-header">
                    <h4>{game.name}</h4>
                    <span class="card-subtitle">{game.releaseDate.format('d MMM uuuu') or 'No release date'}</span>
                </div>

                <div class="card-after bg-dark score-{#when game.average}{#is < 30}flat{#is < 60}fine{#is < 90}good{#else}best{/when}">
                    <span>{game.average}</span>
                    {!<span>{game.recommended}%</span>!}
                </div>
            </div>
        </a>
    </li>
    {/for}
</ul>
