{#include base}
  {#main}
    {#include single pageId="faq"}
      {#title}Frequently Asked Questions{/title}
      {#content}
        <h2>What is this website?</h2>
        <p>Cardboard Critic is a review aggregate for board games.
          We are small, <a href="https://github.com/vysker/cardboardcritic">open source</a>, and crafted with love.</p>

        <h2>Where do you get your content?</h2>
        <p>We have a list of news outlets that we get our content from.
          Each of those outlets is checked multiple times a day for new reviews.
          The list will grow over time, as we add more scrapers.
          Since we are open source, you can check out the full list of news outlets <a
              href="https://github.com/vysker/cardboardcritic/tree/main/src/main/java/com/cardboardcritic/feed/crawler">here</a>.
        </p>

        <h2 id="why-are-the-only-newer-games-on-here">Why are the only newer games on here?</h2>
        <p>We launched our website in the summer of 2022, and we depend on news outlet coverage.
          So if the news archives don't go past a certain date, we cannot cover games from that period in time.</p>

        <h2>Why is my favorite game not on this website?</h2>
        <p>Because we rely on news outlets to cover relevant games.
          So if your favorite game is not on here, it is because critics decided not to cover the game.
          Also see <a href="#why-are-the-only-newer-games-on-here">this question</a>.</p>

        <h2>When will I see reviews for a new game?</h2>
        <p>We automatically check for new reviews every 3 hours.
          All newly published reviews in that time span will be collected and added to our approval queue.
          Once we approve the review, it is published on our website.</p>

        <h2>Can you add my favorite news outlet?</h2>
        <p>There is a good chance we can, as long as it has a website with well-structured content.
          First, make sure it hasn't already been requested <a href="https://github.com/vysker/cardboardcritic/issues">here</a>.
          Otherwise, go ahead and <a href="https://github.com/vysker/cardboardcritic/issues/new">request</a> it.</p>

        <h2>Some game's info is wrong or missing data, can I change it?</h2>
        <p>We're working on a solution where users can make/suggest changes on their own.
          But for now, we'll deal with it through our request system.
          First, make sure it hasn't already been requested <a href="https://github.com/vysker/cardboardcritic/issues">here</a>.
          Otherwise, go ahead and <a href="https://github.com/vysker/cardboardcritic/issues/new">request</a> it.</p>

        <h2>What can I do to help Cardboard Critic?</h2>
        <p>Glad you asked!
          We are open source, so you can jump in anywhere.
          We can always use help on programming, design, or content moderation.
          The code can be found <a href="https://github.com/vysker/cardboardcritic">here</a>, on GitHub.
          Check out the <a href="https://github.com/vysker/cardboardcritic/issues">issues page</a> to see if there is
          anything you would like to work on.
          Of course you are also free to work on anything you would like to see on the website.</p>
      {/content}
    {/include}
  {/main}
{/include}
