{#include base}
{#main}
<main>
  {!<section id="header">!}
    {!<header>!}
      {!<h1>Welcome</h1>!}
    {!</header>!}
    {!<div class="content">!}
      {!<p>!}
        {!Cardboard Critic is a review aggregate for board games.!}
        {!We are small, open-source, and crafted with love.!}
      {!</p>!}
    {!</div>!}
  {!</section>!}
  <section id="topical">
    <article>
      <header>
        <h1>Recent Releases</h1>
      </header>
      <div class="content">{#include GameResource/list games=recent}{/include}</div>
    </article>
    <article>
      <header>
        <h1>This Year's Best</h1>
      </header>
      <div class="content">{#include GameResource/list games=topOfYear}{/include}</div>
    </article>
  </section>
</main>
{/main}
{/include}
