{#include base}
{#main}
<main>
  <section class="grid col-2 mob-col-1">
    <article class="min-width-0">
      <header>
        <h1>Recent Releases</h1>
      </header>
      <div class="content">{#include GameResource/list games=recent}{/include}</div>
    </article>
    {#if topOfYear}
    <article class="min-width-0">
      <header>
        <h1>This Year's Best</h1>
      </header>
      <div class="content">{#include GameResource/list games=topOfYear}{/include}</div>
    </article>
    {/if}
  </section>
</main>
{/main}
{/include}
