<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{inject:globals.siteTitle}</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<header class="top-nav">
  <div class="nav-inner page-width">
    {#include logo}{/}
    <div id="desktop-menu">
      {#include menu}{/include}
    </div>
    <div id="mobile-menu">
      <details>
        <summary>Menu</summary>
        {#include menu}{/include}
      </details>
    </div>
  </div>
</header>
{#insert main}{/}
{#include footer}{/}
</body>
</html>
