<div class="hex {inline ? 'hex-inline' : ''}"
     style="--hex-background: {bgColor or 'lightgrey'};
         --hex-height: {size or '5rem'};
         --hex-border: calc(var(--hex-height)/4) solid var(--hex-background);
         --hex-border-invis: calc(var(--hex-height)/2) solid transparent;">
  <div class="hex-side hex-left"></div>
  <div class="hex-center" style="border-bottom: 5px solid {accentColor or 'var(--hex-background)'};">
    <span>{hexContent or '?'}</span>
  </div>
  <div class="hex-side hex-right"></div>
</div>
