<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/browse/recent">Recent</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
    {#if global:username}
      <li>
        <a href="/raw-review">Raw Reviews</a>
      </li>
      <li>
        <a href="/debug/feed">Feed</a>
      </li>
      <li>
        <a href="/debug/score">Score</a>
      </li>
      <li>
        <a href="/auth/login">Log in</a>
      </li>
      <li>
        <a href="/auth/logout">Log out</a>
      </li>
    {/if}
  </ul>
  <form action="/browse/search" method="get">
    <input type="text" name="q" placeholder="&#128269 Search games" class="top-nav-search-input">
  </form>
</nav>