<div class="review card">
<!--  <div class="card-before"></div>-->
  <div class="card-header">
    <h2>{outlet ?: 'Unknown outlet'}</h2>
    <span class="card-subtitle">{critic ?: 'Unknown critic'}</span>
  </div>
  <div class="card-content review-content">
    <div class="margin-top">
      <b>{#if score == 0}No score{#else}{score}/100{/if}, {recommended ? 'Recommended' : 'Not recommended'}</b>
    </div>
    {#if review.summary && review.summary.startsWith('https://www.youtube.com')}
      <iframe width="320" height="180" src="{review.summary}" title="View {critic}'s review on YouTube"
          allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
    {#else}
      <details class="p">
        <summary>Read more<br>{summary or 'No summary available'}</summary>
        <p>{summary or 'No summary available'}</p>
      </details>
      <a href="{url}" target="_blank" class="review-link">Read full review</a>
    {/if}
  </div>
</div>
